<body>
    <div id="content">
        <div id="criar-post">
            <header>
                <h1>Crie uma nova postagem</h1>
            </header>
            <form method="post">
                <input type="text" id="title" placeholder="Título da notícia">
                <textarea id="body" cols="100" rows="30" placeholder="Corpo da notícia"></textarea>
                <button class="buttonClass" type="submit" onclick=""><a href="#">Criar Post</a> </button>
            </form>
        </div>
    </div>
</body>

